{% load staticfiles %}

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <!--<title>中国移动设备管理系统</title>-->
        <title>麦卡托智能设备管理平台</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'reporter/css/reporter.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        {% block extra_assets %}
        {% endblock extra_assets %}
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'fiberbox_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'fiberbox_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <!--<a href="{% url 'fiberbox_map' %}" class="top-menu">-->
                  <!--<span class="glyphicon glyphicon-map-marker"></span>-->
                <!--</a>-->
                <p class="top-menu">您好！{{ user.username }} <small>(<a href="{% url 'logout' %}">注销</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <!--<h1><a href="{% url 'fiberbox_publish_list' %}">中国移动设备管理系统</a></h1>-->
            <h1><a href="{% url 'fiberbox_publish_list' %}">麦卡托智能设备管理平台</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        {% block map_content %}
        {% endblock map_content %}
    </body>
</html>

