<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
	{% leaflet_js %}
	{% leaflet_css %}
	<title>Our Home</title>
	<style type="text/css">
		#gis {width: 80%;height: 800px;}
	</style>

	<link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
	

	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css' %}">
	<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"> </script>
	<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js' %}"> </script>
	
	<script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}"> </script>

</head>
<body>
<h3>欢迎使用中国移动公司设备维护网站！</h3>
<br>
<script type="text/javascript">
	function our_layers(map,options){
		//var osm = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		
		var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19
					});

		/*
		var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19,
						attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
					});*/

		var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
					maxZoom: 17
				});

/*		var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
					maxZoom: 17,
					attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
				});
*/
		var MapboxStreetMap = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
			    maxZoom: 18,
			    id: 'mapbox.streets',
			    accessToken: 'pk.eyJ1Ijoiemh1Z3VhbmdqdW4yMDAyIiwiYSI6ImNqYzFkNGl2ZjAwa2oyeW4yMGh0cTAxcHAifQ.bbY8ctOlYyb77S4P0VZ25A'
			});

		var MapboxSatelliteMap = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
			    maxZoom: 18,
			    id: 'mapbox.satellite',
			    accessToken: 'pk.eyJ1Ijoiemh1Z3VhbmdqdW4yMDAyIiwiYSI6ImNqYzFkNGl2ZjAwa2oyeW4yMGh0cTAxcHAifQ.bbY8ctOlYyb77S4P0VZ25A'
			});


		var datasets = new L.GeoJSON.AJAX("{% url 'county' %}",{
			style: function colors(feature){
				switch(feature.properties.counties){
					case 'WAJIR':
					    return{
					    	color: 'orange',
					    	fillOpacity: 0.8
					    };
					break;

					case 'ISIOLO':
					    return{
					    	color: 'purple',
					    	fillOpacity: 0.8
					    };
					break;

				}

			},
			onEachFeature: function(feature,layer){
				layer.bindPopup(feature.properties.counties.toString())
			}

		});

		var points = new L.GeoJSON.AJAX("{% url 'fiberboxes' %}",{
			onEachFeature: function(feature,layer){
				layer.bindPopup(feature.properties.name.toString())
			}

		});

		var google_satellite = new L.TileLayer.WMS('http://localhost:8082/geoserver/google/wms',{
			layers: 'google:google_chefoo',
			format: 'image/png',
			transparent: true
		});

		//datasets.addTo(map);
		points.addTo(map);

		var baseLayers = {
			//"OSM": osm,
			//"开放街道地图": osm,
			//"OpenTopoMap":OpenTopoMap,
			"开放地形图":OpenTopoMap,			// 一般我们不用开放地形地图
			//"Google Satellite": google_satellite
			//"谷歌卫星影像": google_satellite,  // google_satellite need to setup GeoServer Map.
			//"Mapbox街道地图": MapboxStreetMap,  // 不用Mapbox街道地图，除非`osm`限制我们使用。
			//"Mapbox卫星影像": MapboxSatelliteMap,


		}
		
		var groupedOverlays = {
		  "Layers": {
		    //"counties": datasets,  // 屏蔽乡镇的边界
		    //"incidences": points
		    "光钎箱": points
		  }
		  
		};

                // 我们想要使用`LEAFLET_CONFIG`中变量`TILES`，替换了`baseLayers`,
                // 但是通过调试发现，如果取消`baseLayers`,只保留`groupedOverlays`,点击`光纤箱`，不能实现`显示`和`不显示`，这一必要功能。
                // 所以，本次仍然保留`baseLayers`,虽然我们在配置文件`settings.py`中，使用了`LEAFLET_CONFIG`中变量`TILES`以及`OVERLAYS`。
		L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
                  
                // 但是通过调试发现，如果取消`baseLayers`,只保留`groupedOverlays`,点击`光纤箱`，不能实现`显示`和`不显示`，这一必要功能。
		// L.control.groupedLayers(groupedOverlays).addTo(map);

/*		L.Routing.control({
		  waypoints: [
		    L.latLng(-4.02,39.58),//SGR Mombasa Terminus
		    L.latLng(-1.35,36.90) //SGR Nairobi Terminus
		  ]
		}).addTo(map);
		*/
	}
</script>
{% leaflet_map "gis" callback="window.our_layers" %}
</body>
</html>
